html {
  font-family: Inter !important
}

body {
  font-family: Inter !important
}

h6 {
  font-size: 1.5rem !important;
  line-height: 2rem !important;
  font-weight: 600 !important
}

.text-2-extra-large-semibold {
  font-size: 1.875rem;
  line-height: 2.25rem;
  font-weight: 600
}

.text-extra-large-semibold {
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 600
}

.text-large-medium {
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: 500
}

.text-large-semibold {
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: 600
}

.text-base-regular {
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 400
}

.text-base-medium {
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 500
}

.text-base-semibold {
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 600
}

.text-small-regular {
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 400
}

.text-small-medium {
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500
}

.text-small-semibold {
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 600
}

.text-extra-small-regular {
  font-size: 0.75rem;
  line-height: 1rem;
  font-weight: 400
}

.text-extra-small-medium {
  font-size: 0.75rem;
  line-height: 1rem;
  font-weight: 500
}

.divider {
  border-width: 0px;
  border-bottom-width: 1px;
  border-style: solid;
  --tw-border-opacity: 1;
  border-color: rgb(223 228 234 / var(--tw-border-opacity))
}

*, ::before, ::after {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  
}

::-webkit-backdrop {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  
}

::backdrop {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  
}

.container {
  width: 100%
}

@media (min-width: 640px) {
  .container {
    max-width: 640px
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 768px
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1024px
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1280px
  }
}

@media (min-width: 1536px) {
  .container {
    max-width: 1536px
  }
}

#root :is(.invisible) {
  visibility: hidden
}

#root :is(.absolute) {
  position: absolute
}

#root :is(.sticky) {
  position: -webkit-sticky;
  position: sticky
}

#root :is(.bottom-0) {
  bottom: 0px
}

#root :is(.left-1\/2) {
  left: 50%
}

#root :is(.top-0) {
  top: 0px
}

#root :is(.top-1\/2) {
  top: 50%
}

#root :is(.z-10) {
  z-index: 10
}

#root :is(.m-5) {
  margin: 1.25rem
}

#root :is(.m-auto) {
  margin: auto
}

#root :is(.mb-10) {
  margin-bottom: 2.5rem
}

#root :is(.mb-2) {
  margin-bottom: 0.5rem
}

#root :is(.mb-4) {
  margin-bottom: 1rem
}

#root :is(.mb-6) {
  margin-bottom: 1.5rem
}

#root :is(.mb-8) {
  margin-bottom: 2rem
}

#root :is(.ml-5) {
  margin-left: 1.25rem
}

#root :is(.mt-12) {
  margin-top: 3rem
}

#root :is(.mt-2) {
  margin-top: 0.5rem
}

#root :is(.mt-20) {
  margin-top: 5rem
}

#root :is(.mt-4) {
  margin-top: 1rem
}

#root :is(.mt-6) {
  margin-top: 1.5rem
}

#root :is(.block) {
  display: block
}

#root :is(.flex) {
  display: flex
}

#root :is(.hidden) {
  display: none
}

#root :is(.h-10) {
  height: 2.5rem
}

#root :is(.h-12) {
  height: 3rem
}

#root :is(.h-16) {
  height: 4rem
}

#root :is(.h-4) {
  height: 1rem
}

#root :is(.h-5) {
  height: 1.25rem
}

#root :is(.h-6) {
  height: 1.5rem
}

#root :is(.h-8) {
  height: 2rem
}

#root :is(.h-9) {
  height: 2.25rem
}

#root :is(.h-\[208px\]) {
  height: 208px
}

#root :is(.h-\[500px\]) {
  height: 500px
}

#root :is(.h-full) {
  height: 100%
}

#root :is(.h-screen) {
  height: 100vh
}

#root :is(.max-h-\[208px\]) {
  max-height: 208px
}

#root :is(.min-h-screen) {
  min-height: 100vh
}

#root :is(.w-10) {
  width: 2.5rem
}

#root :is(.w-12) {
  width: 3rem
}

#root :is(.w-16) {
  width: 4rem
}

#root :is(.w-4) {
  width: 1rem
}

#root :is(.w-48) {
  width: 12rem
}

#root :is(.w-5) {
  width: 1.25rem
}

#root :is(.w-6) {
  width: 1.5rem
}

#root :is(.w-64) {
  width: 16rem
}

#root :is(.w-8) {
  width: 2rem
}

#root :is(.w-80) {
  width: 20rem
}

#root :is(.w-9) {
  width: 2.25rem
}

#root :is(.w-\[162px\]) {
  width: 162px
}

#root :is(.w-\[400\]) {
  width: 400
}

#root :is(.w-full) {
  width: 100%
}

#root :is(.grow) {
  flex-grow: 1
}

#root :is(.basis-1\/4) {
  flex-basis: 25%
}

#root :is(.-translate-x-1\/2) {
  --tw-translate-x: -50%;
  -webkit-transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
          transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

#root :is(.-translate-y-1\/2) {
  --tw-translate-y: -50%;
  -webkit-transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
          transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

#root :is(.transform) {
  -webkit-transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
          transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

#root :is(.cursor-pointer) {
  cursor: pointer
}

#root :is(.flex-col) {
  flex-direction: column
}

#root :is(.items-start) {
  align-items: flex-start
}

#root :is(.items-end) {
  align-items: flex-end
}

#root :is(.items-center) {
  align-items: center
}

#root :is(.justify-center) {
  justify-content: center
}

#root :is(.justify-between) {
  justify-content: space-between
}

#root :is(.justify-around) {
  justify-content: space-around
}

#root :is(.gap-1) {
  gap: 0.25rem
}

#root :is(.gap-16) {
  gap: 4rem
}

#root :is(.gap-2) {
  gap: 0.5rem
}

#root :is(.gap-4) {
  gap: 1rem
}

#root :is(.gap-6) {
  gap: 1.5rem
}

#root :is(.gap-8) {
  gap: 2rem
}

#root :is(.self-center) {
  align-self: center
}

#root :is(.break-keep) {
  word-break: keep-all
}

#root :is(.rounded-full) {
  border-radius: 9999px
}

#root :is(.rounded-lg) {
  border-radius: 0.5rem
}

#root :is(.rounded-md) {
  border-radius: 0.375rem
}

#root :is(.rounded-t-lg) {
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem
}

#root :is(.border) {
  border-width: 1px
}

#root :is(.border-0) {
  border-width: 0px
}

#root :is(.border-t-\[1px\]) {
  border-top-width: 1px
}

#root :is(.border-solid) {
  border-style: solid
}

#root :is(.border-purple-200) {
  --tw-border-opacity: 1;
  border-color: rgb(221 214 254 / var(--tw-border-opacity))
}

#root :is(.border-stroke) {
  --tw-border-opacity: 1;
  border-color: rgb(223 228 234 / var(--tw-border-opacity))
}

#root :is(.bg-gray-100) {
  --tw-bg-opacity: 1;
  background-color: rgb(243 244 246 / var(--tw-bg-opacity))
}

#root :is(.bg-gray-50) {
  --tw-bg-opacity: 1;
  background-color: rgb(249 250 251 / var(--tw-bg-opacity))
}

#root :is(.bg-primary) {
  --tw-bg-opacity: 1;
  background-color: rgb(127 86 217 / var(--tw-bg-opacity))
}

#root :is(.bg-purple-200) {
  --tw-bg-opacity: 1;
  background-color: rgb(221 214 254 / var(--tw-bg-opacity))
}

#root :is(.bg-purple-50) {
  --tw-bg-opacity: 1;
  background-color: rgb(249 245 255 / var(--tw-bg-opacity))
}

#root :is(.bg-white) {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity))
}

#root :is(.p-2) {
  padding: 0.5rem
}

#root :is(.p-3) {
  padding: 0.75rem
}

#root :is(.p-4) {
  padding: 1rem
}

#root :is(.p-5) {
  padding: 1.25rem
}

#root :is(.p-6) {
  padding: 1.5rem
}

#root :is(.p-7) {
  padding: 1.75rem
}

#root :is(.px-4) {
  padding-left: 1rem;
  padding-right: 1rem
}

#root :is(.px-5) {
  padding-left: 1.25rem;
  padding-right: 1.25rem
}

#root :is(.py-3) {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem
}

#root :is(.py-4) {
  padding-top: 1rem;
  padding-bottom: 1rem
}

#root :is(.pb-4) {
  padding-bottom: 1rem
}

#root :is(.text-center) {
  text-align: center
}

#root :is(.capitalize) {
  text-transform: capitalize
}

#root :is(.text-secondary) {
  --tw-text-opacity: 1;
  color: rgb(19 194 150 / var(--tw-text-opacity))
}

#root :is(.text-textSecondary) {
  --tw-text-opacity: 1;
  color: rgb(107 114 128 / var(--tw-text-opacity))
}

#root :is(.text-white) {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity))
}

#root :is(.shadow-\[0_1px_3px_0px_\#A6AFC366\]) {
  --tw-shadow: 0 1px 3px 0px #A6AFC366;
  --tw-shadow-colored: 0 1px 3px 0px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
}

#root :is(.shadow-none) {
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
}

#root :is(.filter) {
  -webkit-filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
          filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow)
}

#root :is(.transition) {
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, -webkit-transform, -webkit-filter, -webkit-backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-transform, -webkit-filter, -webkit-backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms
}

#root :is(.last\:rounded-b-lg:last-child) {
  border-bottom-right-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem
}

@media (min-width: 640px) {
  #root :is(.sm\:mb-0) {
    margin-bottom: 0px
  }

  #root :is(.sm\:flex) {
    display: flex
  }

  #root :is(.sm\:max-w-\[25\%\]) {
    max-width: 25%
  }

  #root :is(.sm\:flex-wrap) {
    flex-wrap: wrap
  }
}

@media (min-width: 768px) {
  #root :is(.md\:flex) {
    display: flex
  }

  #root :is(.md\:w-\[400px\]) {
    width: 400px
  }
}
