@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("swiper/css/bundle");
@import url("swiper/css/pagination");

@font-face {
  font-family: "Inter";
  src: url("../public/fonts/Inter-Light.ttf");
  font-weight: 300;
}
@font-face {
  font-family: "Inter";
  src: url("../public/fonts/Inter-Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "Inter";
  src: url("../public/fonts/Inter-Medium.ttf");
  font-weight: 500;
}
@font-face {
  font-family: "Inter";
  src: url("../public/fonts/Inter-SemiBold.ttf");
  font-weight: 600;
}
@font-face {
  font-family: "Inter";
  src: url("../public/fonts/Inter-Bold.ttf");
  font-weight: 700;
}
@layer base {
  html {
    @apply font-inter !important;
  }
  body {
    @apply font-inter !important;
  }
}

@layer base {
  h6 {
    @apply text-2xl font-semibold !important;
  }
  .text-2-extra-large-regular {
    @apply text-3xl font-normal;
  }
  .text-2-extra-large-medium {
    @apply text-3xl font-medium;
  }
  .text-2-extra-large-semibold {
    @apply text-3xl font-semibold;
  }
  .text-2-extra-large-bold {
    @apply text-3xl font-bold;
  }
  .text-extra-large-regular {
    @apply text-xl font-normal;
  }
  .text-extra-large-medium {
    @apply text-xl font-medium;
  }
  .text-extra-large-semibold {
    @apply text-xl font-semibold;
  }
  .text-extra-large-bold {
    @apply text-xl font-bold;
  }
  .text-large-regular {
    @apply text-lg font-normal;
  }
  .text-large-medium {
    @apply text-lg font-medium;
  }
  .text-large-semibold {
    @apply text-lg font-semibold;
  }
  .text-large-bold {
    @apply text-lg font-bold;
  }
  .text-base-regular {
    @apply text-base font-normal;
  }
  .text-base-medium {
    @apply text-base font-medium;
  }
  .text-base-semibold {
    @apply text-base font-semibold;
  }
  .text-base-bold {
    @apply text-lg font-bold;
  }
  .text-small-regular {
    @apply text-sm font-normal;
  }
  .text-small-medium {
    @apply text-sm font-medium;
  }
  .text-small-semibold {
    @apply text-sm font-semibold;
  }
  .text-extra-small-regular {
    @apply text-xs font-normal;
  }
  .text-extra-small-medium {
    @apply text-xs font-medium;
  }
  .divider {
    @apply border-solid border-stroke border-0 border-b-[1px];
  }
}
