@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("swiper/css/bundle");

@layer base {
  html {
    @apply font-inter !important;
  }
  body {
    @apply font-inter !important;
  }
}

@layer base {
  h6 {
    @apply text-2xl font-semibold !important;
  }
  .text-large-regular {
    @apply text-lg font-normal;
  }
  .text-large-medium {
    @apply text-lg font-medium;
  }
  .text-large-semibold {
    @apply text-lg font-semibold;
  }
  .text-large-bold {
    @apply text-lg font-bold;
  }
  .text-base-regular {
    @apply text-base font-normal;
  }
  .text-base-medium {
    @apply text-base font-medium;
  }
  .text-base-semibold {
    @apply text-base font-semibold;
  }
  .text-base-bold {
    @apply text-lg font-bold;
  }
  .text-small-regular {
    @apply text-sm font-normal;
  }
  .text-small-medium {
    @apply text-sm font-medium;
  }
  .text-small-semibold {
    @apply text-sm font-semibold;
  }
  .text-extra-small-regular {
    @apply text-xs font-normal;
  }
  .text-extra-small-medium {
    @apply text-xs font-medium;
  }
  .divider {
    @apply border-solid border-stroke border-0 border-b-[1px];
  }
}


/* .swiper-pagination {
  bottom: 95%;
}

.swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  text-align: center;
  opacity: 1;
  background: #d1d5db;
}

.swiper-pagination-bullet-active {
  background: #6b7280;
} */
